		
//- For the View
			br
			.heading_frame.text-center
				heading_font Advanced Mobility
			.risk_frame
				if(aMob_highProb)
					.text-center.alert.alert-success
						font(size='+3') #{(aMob_prob*100).toFixed(0)}% 
						p 
							font(size='-1') The 1-year probability of achieving an advanced level of mobility after this amputation.  Based on this prediction model, this patients probable mobility is higher than the average (32%)
				else
					.text-center.alert.alert-danger
						font(size='+3') #{(aMob_prob*100).toFixed(0)}% 
						p
							font(size='-1') The 1-year probability of achieving an advanced level of mobility after this amputation.  Based on this prediction model, this patients probable mobility is lower than the average (32%)

			#advancedMobility
				.track
					.average(style='bottom: 7%;') 
						font(size='-2').amount 32% Average Probability
					.goal
						font(size='-2').amount 100%
					if (aMob_prob > .32)
						.progress
							font(size='-2')#progessAmount.amount(style='display: block;') #{(aMob_prob*100).toFixed(1)}% Predicted Probability
					else
						.progress(style='background: red none repeat scroll 0 0;')
							font(size='-2')#progessAmount.amount(style='display: block;') #{(aMob_prob*100).toFixed(1)}% Predicted Probability


						//- Logit Prob: #{aMob_logit_prob}, Logit Lower: #{aMob_lower_logit_prob}, Logit Upper: #{aMob_upper_logit_prob}, Reamp Prob: #{aMob_prob.toFixed(4)}, Reamp Lower CI: #{aMob_lower_ci.toFixed(4)}, Reamp Upper CI: #{aMob_upper_ci.toFixed(4)}