extends layout

block content
	.results_all
		// TT TT RIGHT SIDE RIGHT SIDE RIGHT SIDE TT TT
		.tt_frame
			// REAMPUTATION
			.heading_frame.text-center
				title_font Transtibial
				br
				// MORTALITY
			.heading_frame.text-center
				heading_font Mortality
			.risk_frame
				if(tt_highProb)
					.text-center.alert.alert-danger
						font(size='+3') #{(tt_prob*100).toFixed(0)}% 
						p 
							font(size='-1') 1-year risk of death after this amputation. Based on this prediction model, this patient's risk of death is higher than average (25.0%).
				else
					.text-center.alert.alert-success
						font(size='+3') #{(tt_prob*100).toFixed(0)}% 
						p
							font(size='-1') 1-year risk of death after this amputation. Based on this prediction model, this patient's risk of death is below the average (25.0%).
			#tt_mortality
				.track
					.average(style='bottom: 0%;')
						font(size='-2').amount 25% Average Risk
					.goal
						font(size='-2').amount 100%
					if(tt_prob > .25)
						.progress(style='background: red none repeat scroll 0 0;')
							font(size='-2')#progessAmount.amount(style='display: block;') #{(tt_prob*100).toFixed(1)}% Predicted Risk
					else 
						.progress
							font(size='-2')#progessAmount.amount(style='display: block;') #{(tt_prob*100).toFixed(1)}% Predicted Risk
			br
			br
			.heading_frame.text-center
				heading_font Reamputation
			.risk_frame
				if(!tt_reamp_highProb)
					.text-center.alert.alert-success 
						font(size='+3') #{(tt_reamp_prob*100).toFixed(0)}% 
						p 
							font(size='-1') 1-year risk of reamputation after this amputation. Based on this prediciton model, this patient's risk of reamputation is below average. (24.0%).
				else
					.text-center.alert.alert-danger
						font(size='+3') #{(tt_reamp_prob*100).toFixed(0)}% 
						p
							font(size='-1') 1-year risk of reamputation after this amputation. Based on this prediciton model, this patient's risk of reamputation is above average. (24.0%).	
			#tt_reamputation
				.track
					.average(style='bottom: 1%;') 
						font(size='-2').amount 24% Average Risk
					.goal
						font(size='-2').amount 100%
					if(tt_reamp_prob > .26)
						.progress(style='background: red none repeat scroll 0 0;')
							font(size='-2')#progessAmount.amount(style='display: block;') #{(tt_reamp_prob*100).toFixed(1)}%  Predicted Risk
					else 
						.progress
							font(size='-2')#progessAmount.amount(style='display: block;') #{(tt_reamp_prob*100).toFixed(1)}% Predicted Risk
			br
			br
			// MOBILITY
			.heading_frame.text-center
				.tooltip
					heading_font Mobility
			.risk_frame
				if(tt_mob_highProb)
					.text-center.alert.alert-success
						font(size='+3') #{(tt_mob_prob*100).toFixed(0)}% 
						p 
							font(size='-1') The 1-year probability of achieving at least a functional level of independent mobility after this amputation. Based on this prediction model, this patients probable mobility is higher than the average (62.0%).
				else
					.text-center.alert.alert-danger
						font(size='+3') #{(tt_mob_prob*100).toFixed(0)}% 
						p
							font(size='-1') The 1-year probability of achieving at least a functional level of independent mobility after this amputation. Based on this prediction model, this patients probable mobility is lower than the average (62.0%).

			#tt_mobility
				.track
					.average(style='bottom: 37%;')
						font(size='-2').amount 62% Average Probability
					.goal
						font(size='-2').amount 100%
					if(!tt_mob_highProb)
						.progress(style='background: red none repeat scroll 0 0;')
							font(size='-2')#progessAmount.amount(style='display: block;') #{(tt_mob_prob*100).toFixed(1)}% Predicted Probability
					else 
						.progress
							font(size='-2')#progessAmount.amount(style='display: block;') #{(tt_mob_prob*100).toFixed(1)}% Predicted Probability

		// TM TM LEFT SIDE LEFT SIDE LEFT SIDE TM TM
		.tm_frame
			// MORTALITY
			.heading_frame.text-center
				title_font Transmetatarsal
				br
				heading_font Mortality
			.risk_frame
				if(highProb)
					.text-center.alert.alert-danger
						font(size='+3') #{(prob*100).toFixed(0)}% 
						p 
							font(size='-1') 1-year risk of death after this amputation. Based on this prediction model, this patient's risk of death is higher than average (18.0%).
				else
					.text-center.alert.alert-success
						font(size='+3') #{(prob*100).toFixed(0)}% 
						p
							font(size='-1') 1-year risk of death after this amputation. Based on this prediction model, this patient's risk of death is below the average (18.0%).
			#tm_mortality
				.track
					.average(style='bottom: -7.0%;')
						font(size='-2').amount 18% Average Risk
					.goal
						font(size='-2').amount 100%
					if(prob > .18)
						.progress(style='background: red none repeat scroll 0 0;')
							font(size='-2')#progessAmount.amount(style='display: block;') #{(prob*100).toFixed(1)}% Predicted Risk
					else 
						.progress
							font(size='-2')#progessAmount.amount(style='display: block;') #{(prob*100).toFixed(1)}% Predicted Risk
			br
			br
			// REAMPUTATION
			.heading_frame.text-center
				heading_font Reamputation
			.risk_frame
				if(reamp_prob < .40)
					.text-center.alert.alert-success
						font(size='+3') #{(reamp_prob*100).toFixed(0)}% 
						p 
							font(size='-1') 1-year risk of reamputation after this amputation. Based on this prediciton model, this patient's risk of reamputation is below average (40.0%).
				else
					.text-center.alert.alert-danger
						font(size='+3') #{(reamp_prob*100).toFixed(0)}% 
						p
							font(size='-1') 1-year risk of reamputation after this amputation. Based on this prediciton model, this patient's risk of reamputation is above average (40.0%).	
			#tm_reamputation
				.track
					.average(style='bottom: 15%;') 
						font(size='-2').amount 40% Average Risk
					.goal
						font(size='-2').amount 100%
					if(reamp_prob > .40)
						.progress(style='background: red none repeat scroll 0 0;')
							font(size='-2')#progessAmount.amount(style='display: block;') #{(reamp_prob*100).toFixed(1)}%  Predicted Risk
					else 
						.progress
							font(size='-2')#progessAmount.amount(style='display: block;') #{(reamp_prob*100).toFixed(1)}% Predicted Risk
			br
			br

			// MOBILITY
			.heading_frame.text-center
				heading_font Mobility
			.risk_frame
				if(mob_highProb)
					.text-center.alert.alert-success
						font(size='+3') #{(mob_prob*100).toFixed(0)}% 
						p 
							font(size='-1') The 1-year probability of achieving at least a functional level of independent mobility after this amputation. Based on this prediction model, this patients probable mobility is higher than the average (83.0%).
				else
					.text-center.alert.alert-danger
						font(size='+3') #{(mob_prob*100).toFixed(0)}% 
						p
							font(size='-1') The 1-year probability of achieving at least a functional level of independent mobility after this amputation. Based on this prediction model, this patients probable mobility is lower than the average (83.0%).
			#tm_mobility
				.track
					.average(style='bottom: 58%;')
						font(size='-2').amount 83% Average Probability
					.goal
						font(size='-2').amount 100%
					if(!mob_highProb)
						.progress(style='background: red none repeat scroll 0 0;')
							font(size='-2')#progessAmount.amount(style='display: block;') #{(mob_prob*100).toFixed(1)}% Predicted Probability
					else 
						.progress
							font(size='-2')#progessAmount.amount(style='display: block;') #{(mob_prob*100).toFixed(1)}% Predicted Probability
						//- Logit Prob: #{mob_logit_prob}, Logit Lower: #{mob_lower_logit_prob}, Logit Upper: #{mob_upper_logit_prob}, Reamp Prob: #{mob_prob.toFixed(4)}, Reamp Lower CI: #{mob_lower_ci.toFixed(4)}, Reamp Upper CI: #{mob_upper_ci.toFixed(4)}
	br
	br
	.table_frame
		p.text-center 
			strong You will need to balance this risk of mortality with the risk of failure of healing/need for reamputation as well as the probability of achieving at least a functional level of independent mobility when making the decision about the most appropriate level of amputation.
		p.text-center
		
		table.table
			thead
				tr
					th Demographics
					th Health Behaviors
					th Function
					th Comorbidities
					th Lab Values
			tbody
				tr
					td
						if(age_string != "")
							| Age: #{age_string}
							br
						if(gender_string != "")
							| Gender: #{gender_string}
							br
						if(bmi_string != "")
							| BMI: #{bmi_string}
							br
						if(race_string != "")
							| Race: #{race_string}
							br
						if(marital_string != "")
							| Married: #{marital_string}
							br
						if(education_string != "")
							| Education: #{education_string}
					td
						if(smoke_string != "")
							| Smoker: #{smoke_string}
							br
						if(alcohol_string != "")
							| Drinker: #{alcohol_string}
							br
						if(anticoagulants_string != "")
							| Anticoagulants: #{anticoagulants_string}
							br
						if(health_string != "")
							| Self Rated Health: #{health_string}
					td #{function_string}
					if comorbid
						td 
							if(heart_failure_string != "")
								| #{heart_failure_string}
							if(dialysis_string != "")	
								br
								| #{dialysis_string}
							if(diabetes_string != "")
								br
								| #{diabetes_string}
							if (revascularization_string != "")
								br
								| #{revascularization_string}
							if(kidney_string != "")
								br
								| #{kidney_string}
							if(copd_string != "")
								br
								| #{copd_string}
							if(anxiety_string != "")
								br
								| #{anxiety_string}
							if(gangrene_string != "")
								br
								| #{gangrene_string}
					else
						td None
					td
						if(bun_string != "")
							| BUN: #{bun_string}
							br
						if(blood_string != "")
							| WBC: #{blood_string}
							br
						if(platelet_string != "")
							| Platelets: #{platelet_string}
	br
	br
