mixin predictionModelForm(store = {})
	.calc_title_div
		center
			risk_title VA AMPREDICT
			br
			sub_title Risk Calculator
	form#risk_calc(action="/predictionModel" method="POST" class="card", style="border-radius: 40px;")
		.form_section
			font(size='+2')
				center
					strong Demographics
				hr
			label(for="age" id='age') Age:    
				input(type='number', name='age', style='width: 100px;', value=(predModel_TM ? predModel_TM.age : ''), placeholder="40-89", data-parsley-range='[40, 89]', required=true)

			label(for="Gender" id='Gender') Gender:
				.radio_align
					input(type='radio', value='0', selected=(undefined===predModel_TM || predModel_TM.gender!='0' ? false:'selected'), name='Gender', required=true)
					|  Female
					br
					input(type='radio', value='1', selected=(undefined===predModel_TM || predModel_TM.gender!='1' ? false:'selected'), name='Gender', required=true)
					|  Male
			label(for="race" id='race') Race: 
				.radio_align
					input(type='radio', value='1', selected=(undefined===predModel_TM || predModel_TM.race!='1' ? false:'selected'), name='race', required=true)
					|  White
					br
					input(type='radio', value='2', selected=(undefined===predModel_TM || predModel_TM.race!='2' ? false:'selected'), name='race', required=true)
					|  Black
					br
					input(type='radio', value='3', selected=(undefined===predModel_TM || predModel_TM.race!='3' ? false:'selected'), name='race', required=true)
					|  Hispanic
					br
					input(type='radio', value='4', selected=(undefined===predModel_TM || predModel_TM.race!='4' ? false:'selected'), name='race', required=true)
					|  Other	
			label(for="MaritalStatus" id='MaritalStatus') Married:
				.radio_align
					input(type='radio', value='1', selected=(undefined===predModel_TM || predModel_TM.marital_status!='1' ? false:'selected'), name='MaritalStatus', required=true)
					|  Yes
					br 
					input(type='radio', value='0', selected=(undefined===predModel_TM || predModel_TM.marital_status!='0' ? false:'selected'), name='MaritalStatus', required=true)
					|  No 
			label(for="EducationStatus" id='EducationStatus') Education Level:
				.radio_align
					input(type='radio', value='1', selected=(undefined===predModel_TM || predModel_TM.education_statusr!='1' ? false:'selected'), name='EducationStatus', required=true) 
					|  At least high school
					br
					input(type='radio', value='0', selected=(undefined===predModel_TM || predModel_TM.education_status!='0' ? false:'selected'), name='EducationStatus', required=true)
					|  Less than high school 
		.form_section
			font(size='+2') 
				center 
					strong Comorbidities
				hr

			label(for="heart_failure" id='heart_failure') Diagnosis of congestive heart failure: 
				.radio_align
					input(type='radio', value='1', selected=(undefined===predModel_TM || predModel_TM.heart_failure!='1' ? false:'selected'), name='heart_failure', required=true) 
					|  Yes
					br
					input(type='radio', value='0', selected=(undefined===predModel_TM || predModel_TM.heart_failure!='0' ? false:'selected'), name='heart_failure', required=true)
					|  No
			label(for="dialysis" id='dialysis') Currently on dialysis:
				.radio_align
					input(type='radio', value='1', selected=(undefined===predModel_TM || predModel_TM.dialysis!='1' ? false:'selected'), name='dialysis', required=true) 
					|  Yes
					br
					input(type='radio', value='0', selected=(undefined===predModel_TM || predModel_TM.dialysise!='0' ? false:'selected'), name='dialysis', required=true)
					|  No
			label(for="Diabetes" id='Diabetes') Diagnosis of diabetes:
				.radio_align
					input(type='radio', value='1', selected=(undefined===predModel_TM || predModel_TM.diabetes!='1' ? false:'selected'), name='Diabetes', required=true) 
					|  Yes
					br
					input(type='radio', value='0', selected=(undefined===predModel_TM || predModel_TM.diabetes!='0' ? false:'selected'), name='Diabetes', required=true)
					|  No	
			label(for="Revascularization" id='Revascularization') History of a revascularization 
				.tooltip 
					| on side of amputation.
					span.tooltiptext This may include on open procedure, and endovascualr procedure, or both.

				.radio_align
					input(type='radio', value='1', selected=(undefined===predModel_TM || predModel_TM.revascularization!='1' ? false:'selected'), name='Revascularization', required=true) 
					|  Yes
					br
					input(type='radio', value='0', selected=(undefined===predModel_TM || predModel_TM.revascularization!='0' ? false:'selected'), name='Revascularization', required=true)
					|  No
			label(for="COPD" id='COPD') Diagnosis of COPD:
				.radio_align
					input(type='radio', value='1', selected=(undefined===predModel_TM || predModel_TM.copd!='1' ? false:'selected'), name='COPD', required=true) 
					|  Yes
					br
					input(type='radio', value='0', selected=(undefined===predModel_TM || predModel_TM.copd!='0' ? false:'selected'), name='COPD', required=true)
					|  No
			label(for="AnxietyDepression" id='AnxietyDepression') History of treatment for anxiety or depression:
				.radio_align
					input(type='radio', value='1', selected=(undefined===predModel_TM || predModel_TM.anxiety_depression!='1' ? false:'selected'), name='AnxietyDepression', required=true) 
					|  Yes
					br
					input(type='radio', value='0', selected=(undefined===predModel_TM || predModel_TM.anxiety_depression!='0' ? false:'selected'), name='AnxietyDepression', required=true)
					|  No
		.form_section
			font(size='+2') 
				center 
					strong Laboratory Values and Medications
				hr

			.lab_number_box_align
				label(for="blood_nitrogen" id='blood_nitrogen') Recent BUN level (mg/dl):
					input(type='number', name='blood_nitrogen', style='width: 100px;', value=(predModel_TM ? predModel_TM.blood_nitrogen : ''), placeholder="1-157", data-parsley-range='[1, 157]', required=true)
				label(for="platelet_count" id='platelet_count') Most recent platelet count (per mL):
					input(type='number', name='platelet_count', style='width: 100px;', value=(predModel_TM ? predModel_TM.platelet_count : ''), placeholder="ex. 150", data-parsley-min='1', required=true)
			label(for="WBC") White blood cell count of  >= 11,000:
				.radio_align
					input(type='radio', value='1', selected=(undefined===predModel_TM || predModel_TM.wbc!='1' ? false:'selected'), name='WBC', required=true) 
					|  Yes
					br
					input(type='radio', value='0', selected=(undefined===predModel_TM || predModel_TM.wbc!='0' ? false:'selected'), name='WBC', required=true)
					|  No
			label(for="KidneyFailure") eGFR value of <15 in the last 3 months:
				.radio_align
					input(type='radio', value='1', selected=(undefined===predModel_TM || predModel_TM.egfr!='1' ? false:'selected'), name='KidneyFailure', required=true) 
					|  Yes
					br
					input(type='radio', value='0', selected=(undefined===predModel_TM || predModel_TM.egfr!='0' ? false:'selected'), name='KidneyFailure', required=true)
					|  No
				.tooltip
					label(for="OutputAnticoagulants") Outpatient Anticoagulants in the past 3 months:
					span.tooltiptext This may include Coumadin or newer drugs such as Factor X inhibitors and anisindione and dibigitran.
				.radio_align
					input(type='radio', value='1', selected=(undefined===predModel_TM || predModel_TM.out_anti!='1' ? false:'selected'), name='OutputAnticoagulants', required=true) 
					|  Yes
					br
					input(type='radio', value='0', selected=(undefined===predModel_TM || predModel_TM.out_anti!='0' ? false:'selected'), name='OutputAnticoagulants', required=true)
					|  No
		.form_section
			font(size='+2') 
				center 
					strong Health Factors
				hr
			.bmi_align
				label(for="Height") Height:
					input(type='number', name='Height', style='width: 100px;', value=(predModel_TM ? predModel_TM.height : ''), placeholder="inches", data-parsley-range='[48, 84]', required=true)
				label(for="Weight") Weight:
					input(type='number', name='Weight', style='width: 100px;', value=(predModel_TM ? predModel_TM.weight : ''), placeholder="lbs", data-parsley-range='[80, 500]', required=true)

			label(for="Smoke") Is the patient currently a smoker?
				.radio_align
						input(type='radio', value='1', selected=(undefined===predModel_TM || predModel_TM.smoke!='1' ? false:'selected'), name='Smoke', required=true) 
						|  Yes
						br
						input(type='radio', value='0', selected=(undefined===predModel_TM || predModel_TM.smoke!='0' ? false:'selected'), name='Smoke', required=true)
						|  No
			label(for="Alcohol") Does the patient report drinking >2 drinks/day in last 2 weeks?
				.radio_align
						input(type='radio', value='1', selected=(undefined===predModel_TM || predModel_TM.alcohol!='1' ? false:'selected'), name='Alcohol', required=true) 
						|  Yes
						br
						input(type='radio', value='0', selected=(undefined===predModel_TM || predModel_TM.alcohol!='0' ? false:'selected'), name='Alcohol', required=true)
						|  No
			label(for="functional_status", required=true) What has been the patient's functional status in the past 30 days prior to surgery?   
				.radio_align_functional_status
					br
					.tooltip
						input(type='radio', value='1', selected=(undefined===predModel_TM || predModel_TM.functional_status!='1' ? false:'selected'), name='functional_status', required=true)
						|  Independent
						span.tooltiptext The patient does not require assistance of nursing care, equipment or devices. This would include a person who is able to function independently with prosthesis, equipment, or devices.
					.tooltip(style="padding-left:2em;")
						input(type='radio', value='2', selected=(undefined===predModel_TM || predModel_TM.functional_status!='2' ? false:'selected'), name='functional_status', required=true)
						|  Partially Dependent
						span.tooltiptext The patient requires the use of equipment or devices coupled with assistance from another person for some activities of daily living. Any patient coming from a nursing home setting who is not totally dependent would fall into this category, as would any patient who requires kidney dialysis or home ventilator support that requires chronic oxygen therapy yet maintains some independent functions.
					.tooltip(style="padding-left:2em;")
						input(type='radio', value='3', selected=(undefined===predModel_TM || predModel_TM.functional_status!='3' ? false:'selected'), name='functional_status', required=true)
						|  Totally Dependent
						span.tooltiptext The patient cannot perform any activities of daily living for himself/herself. This would include a patient on an ICU/floor who is totally dependent upon nursing care, or a dependent nursing home patient. All patients with psychiatric illnesses should be evaluated for their ability to function with or without assistance with ADLs just as the non-psychiatric patient.

			label(for="SelfRatedHealth") In general, would you say your health is…? <i>(ask the patient this question and provide the options)</i>
				.radio_align
						input(type='radio', value='1', selected=(undefined===predModel_TM || predModel_TM.srh!='1' ? false:'selected'), name='SelfRatedHealth', required=true) 
						|  Very Good
						br
						input(type='radio', value='2', selected=(undefined===predModel_TM || predModel_TM.srh!='2' ? false:'selected'), name='SelfRatedHealth', required=true)
						|  Good
						br
						input(type='radio', value='3', selected=(undefined===predModel_TM || predModel_TM.srh!='3' ? false:'selected'), name='SelfRatedHealth', required=true)
						|  Fair
						br
						input(type='radio', value='4', selected=(undefined===predModel_TM || predModel_TM.srh!='4' ? false:'selected'), name='SelfRatedHealth', required=true)
						|  Poor
						br
						input(type='radio', value='5', selected=(undefined===predModel_TM || predModel_TM.srh!='5' ? false:'selected'), name='SelfRatedHealth', required=true)
						|  Very Poor
		.form-navigation
			.buttons
				center
					button.previous.btn.btn-info.pull-left(type='button') &larr; Previous
					button.next.btn.btn-info.pull-right(type='button') Next &rarr;
					button.btn.btn-default.pull-right(type='submit') Submit
					span.clearfix
			div(style='text-align:center;margin-top:10px;')
				span.stepX
				span.stepX
				span.stepX
				span.stepX
